@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white-color: #fff;
  --black-color: #111111;
  --red-color: red;

  --primary-color: #3a6150;
  --secondary-color: rgba(58, 97, 80, 0.7);
  --tertiary-color: rgba(17, 17, 17, 0.5);
  --text-color: #131516;
  --border-color: #E9E9E9;
  --background-color: #f9f9f9;
  --background-color2: #71837b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 62.5%;
  color: var(--black-color);
}

body {
  max-width: 144rem;
  margin: 0 auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.btn {
  width: 19.6rem;
  height: 4.8rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7.7rem;
  padding: 1.6rem 6.4rem;
  background-color: var(--white-color);
}

.nav {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  margin-right: auto;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  list-style: none;
  color: var(--black-color);
}

.list_item {
  color: var(--black-color);
  padding-right: 1.6rem;
}

.list li {
  position: relative;
}

.list li::after {
  content: "|";
  position: absolute;
  top: 0;
  right: 0;
}

.list li:last-child::after {
  content: "";
}

.arrow_down {
  background: none;
  border: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input {
  border: 1px solid var(--primary-color);
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  width: 37.6rem;
  height: 4.8rem;
  padding: 1.1rem 0 1.1rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--primary-color);
}

.search_input::placeholder {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--secondary-color);
}

.search_button {
  background-color: var(--primary-color);
  width: 4.8rem;
  height: 4.8rem;
  border: 1px solid var(--primary-color);
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

/* Sections */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  padding: 2.4rem 6.4rem 6rem 6.4rem;
  background-color: var(--background-color);
}

.hero_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  color: var(--primary-color);
  margin-bottom: 3.6rem;
}

h5 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: var(--primary-color);
  margin-bottom: 1.2rem;
}

.hero_paragraph {
  width: 80%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  margin-bottom: 3.6rem;
}

.hero_right {
  width: 50%;
}

.hero_img {
  width: 64.8rem;
  height: 64.8rem;
}

.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  padding: 8rem 6.4rem;
}

.about_us_article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  padding: 2.4rem 2.4rem 3.5rem 2.4rem;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.about_us_description {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.7rem;
  margin-bottom: 1.2rem;
}

.about_us_paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  margin-bottom: 2.3rem;
}

.learn_more_btn {
  border: none;
  background: none;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: var(--white-color);
}

.contact_us {
  padding: 8rem 6.4rem 12rem 6.4rem;
  background-color: var(--background-color2);
}

.contact_us_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: var(--white-color);
}

.contact_us_left {
  width: 35%;
  height: 63.7rem;
  border-radius: 1.2rem;
  background-image: url("assets/leaf.jpeg");
  background-size: cover;
  background-position: 93% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 4.2rem 4.8rem 4.8rem 4.2rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
}

.contact_us_left_heading {
  margin-bottom: 1.8rem;
}

.contact_us_left_text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--black-color);
}

.contact_us_left_p {
  margin-bottom: 5.6rem;
}

.contact_us_left_list1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1.8rem;
  list-style: none;
  margin-bottom: 23.3rem;
}

.contact_us_left_list1 li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_us_left_list1 img {
  margin-right: 2.4rem;
}

.contact_us_left_list2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 3.6rem;
  list-style: none;
}

.contact_us_right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.6rem;
  padding: 0 2rem;
}

.contact_us_right_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.8rem;
  row-gap: 2.6rem;
}

.gtid_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 0.8rem;
}

.label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-color);
}

.name::before,
.lastname::before {
  content: "*";
  margin-right: 0.3rem;
  color: var(--red-color);
}

.grid_item_input {
  width: 100%;
  padding: 1.2rem 0.8rem;
  border: 1px solid var(--black-color);
  border-radius: 0.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--black-color);
}

.grid_item_input::placeholder,
.phone_input::placeholder {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--tertiary-color);
}

.grid_item_input:active,
.grid_item_input:focus,
.grid_item_input:focus-visible {
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
}

.gtid_item_phone {
  width: 100%;
  border: 1px solid var(--black-color);
  border-radius: 0.2rem;
  padding: 0 0 0 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--black-color);
}

.phone_span {
  color: var(--tertiary-color);
}

.phone_input {
  width: 100%;
  border: none;
  padding: 1.2rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--black-color);
}

.contact_us_right_list {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 3.6rem;
  padding: 1rem;
  list-style: none;
}

.contact_us_right_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.radio_label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.textarea_wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 0.8rem;
}

.textarea {
  width: 100%;
  padding: 1.2rem 0.8rem;
  height: 10.4rem;
  border-radius: 0.3rem;
}

.checkbox_wrapper {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.checkbox_terms {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;
}

.send_btn {
  align-self: flex-end;
}

.footer {
  background-color: var(--background-color);
}

.footer_up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 6.4rem;
}

.footer_up_heading {
    margin-bottom: 2rem;
}

.footer_up_paragraph {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin-bottom: 3rem;
}

.footer_up_email_input,
.footer_up_email_input::placeholder {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.footer_up_email_input {
    width: 70%;
    padding: 1.2rem 0;
    border: none;
    border-bottom: 1px solid var(--tertiary-color);
    background-color: var(--background-color);
}

.footer_up_email_input::placeholder {
    color: var(--tertiary-color);
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
}

.footer_up_list1 {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 1.6rem;
    list-style: none;
}

.footer_up_list1 li a,
.footer_up_list2 li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.7rem;
}

.footer_up_list2 {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    list-style: none;
    gap: .8rem;
    margin-bottom: 3.6rem;
}

.footer_up_list2_phone,
.footer_up_list2_email {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: var(--tertiary-color);
}

.cards {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 3.6rem;
}

.footer_bottom {
    padding: 2.4rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--border-color);
}

.footer_bottom_copyright,
.footer_bottom_list li a {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.footer_bottom_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
}

.footer_bottom_list li a {
    color: var(--tertiary-color);
}
